body {
    margin: 0px;
    padding: 0px;
    background-color: #FAFAE5;
}

nav {
    height: 60px;
    width: 100%;
    background-color: #FAFAE5;
}

a {
    text-decoration: none;
    color: #BC8F8F;
    text-transform:none;
    transition:0.25s ease;
}

ul.list{
    position:absolute;
    margin-left:calc((100%-800px)/2);
    width:800px;
    height:30px;
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    padding-left:400px;
    font: 20px book antiqua;
}

ul.list li{
    margin:0 0.75em 0 0.75em;
}

    ul.list:hover a {
        color: antiquewhite;
    }

        ul.list:hover a:hover {
            color: #BC8F8F;
            box-shadow:0 2px 0 0 currentColor;
        }
.ng{
    width:1371px;
    height:630px;
}

img {
    width: 1371px;
    height: 630px;
}


#text {
    position: absolute;
    top: 40%;
    left: 505px;
    color: #BC8F8F;
    width: 350px;
    background: #FAFAE5;
    padding: 10px;
    text-align: center;
    font: bold 24px/34px book antiqua,sns-seris;
    border-radius: 15px;
    outline-color: #BC8F8F;
    outline-width:10px;
}

button {
    background-color: #BC8F8F;
    color: #FAFAE5;
    border: none;
    border-radius: 10px;
    font: 20px book antiqua;
    padding: 10px;
}

buttom:hover {
    transform:scale(1.05);
    transition: 0.25s ease;
}

.logo {
    height: 100px;
    width:100px;
}

img.logo {
    height: 100px;
    width: 100px;
    padding-left:40px;
    bottom:88%;
    position:absolute;
}

